<?xml version="1.0"?>
<!--
/**
 * @package Modulebazaar_PayForCOD
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="payforcod" frontName="payforcod">
            <module name="Modulebazaar_PayForCOD"/>
        </route>
    </router>
</config>
